*, :after, :before {
    box-sizing: inherit;
}
html {
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(255, 0, 0, 0.2);
    background-image: url("https://tirdanslemile.github.io/fr/image/background-slider.png");
    background-repeat: no-repeat;
    text-align: left;
}
